html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000;
}
canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#dialog {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 150%;
}
#dialogbox, #nick, #dialogbox button {
  background: #222;
  color: #fff;
  font-family: monospace;
}
#stats {
  font-family: monospace;
  pointer-events: none;
  font-size: 150%;
}
#playerCount {
  position: fixed;
  top: 5px;
  left: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
}
#yourscore {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
  font-size: 250%;
}
#leaderboard {
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
  text-align: right;
}
#leaderboard td {
  padding-left: 2em;
}
#dialogbox {
  padding: 10px;
  display: block;
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
i {
  font-size: 60%;
  color: #888;
}
