@keyframes youscored {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(12);
  }
}
@keyframes powerup {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  5% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000;
}
canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}
#dialog {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  font-size: 150%;
}
#dialogbox {
  padding: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  align-self: center;
}
#dialogbox, #nick, #dialogbox button {
  background: #222;
  color: #fff;
  font-family: monospace;
}
#stats {
  font-family: monospace;
  pointer-events: none;
  font-size: 150%;
  text-align: center;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#playerCount {
  position: fixed;
  top: 25px;
  left: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
}
#powerupstatus {
  position: fixed;
  top: 55px;
  left: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.6);
  font-size: 80%;
}
#healthbar {
  position: fixed;
  top: 5px;
  left: 5px;
  padding: 5px;
  box-sizing: border-box;
  width: 200px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(192, 192, 192);
}
#healthbarhealth {
  position: relative;
  top: -5px;
  left: -5px;
  width: 0px;
  height: 28px;
  background: #ccc;
}
#yourscore {
  padding: 5px;
  display: table;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
  font-size: 300%;
  font-weight: bold;
  position: relative;
  top: 15px;
}
#scoreanimation {
  padding: 5px;
  display: table;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  color: rgba(96, 255, 96, 0.75);
  font-size: 300%;
  font-weight: bold;
  animation: 0.8s linear 0s 1 youscored forwards;
  position: relative;
  top: 30%;
}
#powerupanimation {
  padding: 5px;
  display: table;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  color: rgba(192, 192, 192, 0.6);
  font-size: 300%;
  font-weight: bold;
  animation: 5s linear 0s 1 powerup forwards;
  position: relative;
  top: 40%;
  visibility: hidden;
}
#deathlog {
  position: fixed;
  bottom: calc(20px + 1em);
  left: 5px;
  padding: 5px;
  display: inline-block;
  text-align: left;
  color: #fff;
  opacity: 0.75;
  font-size: 100%;
}
#onlinestatus {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 5px;
  display: inline-block;
  text-align: left;
  color: #fff;
  opacity: 0.3;
  font-size: 75%;
}
#mobilecontrols {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
#joystickouter {
  width: 60vmin;
  height: 60vmin;
  position: fixed;
  bottom: 0;
  left: 0;
  touch-action: none;
}
#joystickbase {
  width: 48vmin;
  height: 48vmin;
  border-radius: 48vmin;
  background: radial-gradient(rgba(48, 48, 48, 0.75) 0%, rgba(48, 48, 48, 0.75) 47.7%, rgba(128, 48, 48, 0.55) 48.3%);
  color: #fff;
  position: fixed;
  bottom: 6vmin;
  left: 6vmin;
  border: 2px solid rgba(255, 255, 255, 0.75);
}
#joystick {
  width: 12vmin;
  height: 12vmin;
  border-radius: 12vmin;
  background: rgba(72, 72, 72, 0.75);
  color: #fff;
  position: fixed;
  pointer-events: none;
}
a {
  border: dotted 1px rgba(136,136,136,0.5);
  color: #888;
  text-decoration: none;
}
.ctrlbutton {
  font-size: 3vmin;
  line-height: 25vmin;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  width: 25vmin;
  height: 25vmin;
  border-radius: 25vmin;
  background: rgba(48, 48, 48, 0.75);
  color: #fff;
  font-family: monospace;
}
.ctrlbutton span {
  pointer-events: none;
}
#btnfire {
  position: fixed;
  bottom: 5vmin;
  right: 5vmin;
}
#btnbrake {
  position: fixed;
  bottom: 5vmin;
  right: 35vmin;
}
#btnconsume {
  position: fixed;
  bottom: 30vmin;
  right: 20vmin;
  display: none;
}
#leaderboard {
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
  text-align: right;
}
#leaderboard td {
  padding-left: 2em;
}
i {
  font-size: 60%;
  color: #888;
}
@media only screen and (orientation: portrait) {
  .ctrlbutton {
    width: 18vmin;
    height: 18vmin;
    border-radius: 18vmin;
    line-height: 18vmin;
  }
  #btnfire {
    bottom: 10vmin;
  }
  #btnbrake {
    bottom: 29vmin;
    right: 5vmin;
  }
  #btnconsume {
    bottom: 48vmin;
    right: 5vmin;
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  #stats {
    font-size: 100%;
    user-select: none;
  }
  #mobilecontrols {
    user-select: none;
  }
}
